
/* ------ Container Properties ------ */

/* ---- Directions ---- */

.flex-direction-left-to-right{
  flex-direction: row;
}
.flex-direction-right-to-left{
  flex-direction: row-reverse;
}
.flex-direction-top-to-bottom{
  flex-direction: column;
}
.flex-direction-bottom-to-top{
  flex-direction: column-reverse;
}

/* ---- Directions end ---- */


/* ---- Wrap ---- */

.wrap-none{
  flex-wrap: nowrap;
}

.wrap{
  flex-wrap: wrap;
}

.wrap-reverse{
  flex-wrap: wrap-reverse;
}

/* ---- Wrap end ---- */

/* ---- Wrap ---- */

.wrap-none{
  flex-wrap: nowrap;
}

.wrap{
  flex-wrap: wrap;
}

.wrap-reverse{
  flex-wrap: wrap-reverse;
}

/* ---- Wrap end ---- */


/* ---- Justify Content ---- */

.justify-content-start{
  justify-content: flex-start;
}

.justify-content-end{
  justify-content: flex-end;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-space-between{
  justify-content: space-between;
}

.justify-content-space-around{
  justify-content: space-around;
}

.justify-content-space-evenly{
  justify-content: space-evenly;
}

/* ---- Justify Content end ---- */


/* ---- Align Items ---- */

.align-items-start{
  align-items: flex-start;
}

.align-items-end{
  align-items: flex-end;
}

.align-items-center{
  align-items: center;
}

.align-items-stretch{
  align-items: stretch;
}

.align-items-baseline{
  align-items: baseline;
}

/* ---- Align Items end ---- */


/* ---- Align Content ---- */

.align-content-start{
  align-content: flex-start;
}

.align-content-end{
  align-content: flex-end;
}

.align-content-center{
  align-content: center;
}

.align-content-stretch{
  align-content: stretch;
}

.align-content-space-between{
  align-content: space-between;
}

.align-content-space-around{
  align-content: space-around;
}

/* ---- Align Content end ---- */

/* ------ Container Properties end ------ */



/* ------ Item Properties ------ */

/* ---- Orders ---- */

.order-1{
  order: 1;
}
.order-2{
  order: 2;
}
.order-3{
  order: 3;
}
.order-4{
  order: 4;
}
.order-5{
  order: 5;
}
.order-6{
  order: 6;
}
.order-7{
  order: 7;
}
.order-8{
  order: 8;
}

/* ---- Orders end ---- */

/* ---- Grows ---- */

.grow-1{
  flex-grow: 1;
}

.grow-2{
  flex-grow: 2;
}

.grow-3{
  flex-grow: 3;
}
.grow-4{
  flex-grow: 4;
}
.grow-4{
  flex-grow: 4;
}
.grow-5{
  flex-grow: 5;
}
.grow-6{
  flex-grow: 6;
}
.grow-7{
  flex-grow: 7;
}

.grow-8{
  flex-grow: 8;
}

/* ---- Grows end ----*/

/* ---- align-selfs ---- */

.align-self-start{
  align-self: flex-start;
}

.align-self-end{
  align-self: flex-end;
}

.align-self-center{
  align-self: center;
}
.align-self-baseline{
  align-self: baseline;
}
.align-self-stretch{
  align-self: stretch;
}

/* ---- align-selfs end ----*/

/* ------ Item Properties end ------ */
